
//cd Documents/bangbang/stylesheets/
// sass --watch stylesheets.scss:stylesheets.css

.content {
backgoround: #000;
font-family: Arial;
font-size: 15px;
margin: 10px
p{ line-height: 20px;}
}
.btn {
margin: 2px;
}
